<!-- src/app/auth/auth.component.html -->
<div class="auth-container">
	<h2 *ngIf="mode === 'login'">Login</h2>
	<h2 *ngIf="mode === 'signup'">Signup</h2>

	<form (ngSubmit)="onSubmit()">
		<div *ngIf="mode === 'login'">
			<label for="email">Email:</label>
			<input type="email" [(ngModel)]="loginData.email" name="email" required />
			&nbsp;&nbsp;
			<label for="password">Password:</label>
			<input type="password" [(ngModel)]="loginData.password" name="loginPassword" required />
		</div>
		<div *ngIf="mode === 'signup'">
			<label for="signupEmail">Email:</label>
			<input type="email" [(ngModel)]="signupData.email" name="signupEmail" required />
			&nbsp;&nbsp;
			<label for="signupPassword">Password:</label>
			<input type="password" [(ngModel)]="signupData.password" name="signupPassword" required />
		</div>
		&nbsp;
		<div *ngIf="mode === 'signup'">
			<label for="confirmPassword">Confirm Password:</label>
			<input id="confirmPassword" type="password" [(ngModel)]="signupData.confirmPassword" name="confirmPassword"
				required />
		</div>
		&nbsp;
		<div>
			<button type="submit">{{ mode === 'login' ? 'Login' : 'Signup' }}</button>
			&nbsp;&nbsp;
			<button type="button" (click)="toggleMode()">
				Switch to {{ mode === 'login' ? 'Signup' : 'Login' }}
			</button>
		</div>

		<div *ngIf="errorMessage" class="error">{{ errorMessage }}
		</div>
		<div *ngIf="authResponse" class="success">
			<p>Authentication Successful!</p>
		</div>
	</form>
</div>